# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [ ]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

CVS stands for Comma-Separated Values and cointains data as text in tables. In a CVS file every row is like a row in a table and different values in the row is separated with a comma/semicolon. 
Its a commmon way to save and share data since its easily opened in different programs like Excel and in python you use pandas library to work with CVS files(DataFrame).

### Load the data set "cars_data" through Pandas.

In [ ]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

In [27]:

pd.read_csv(r'C:\Users\Kelly\Downloads\cars_data.csv')

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Print the first 10 rows of the data.

In [9]:
df = pd.read_csv('cars_data.csv')
print(df.head(10))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [10]:
print("The last 5 rows:")
print(df.tail(5))

The last 5 rows:
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [12]:
df.dropna(inplace=True)

print(df)

    index        company   body-style  wheel-base  length engine-type  \
0       0    alfa-romero  convertible        88.6   168.8        dohc
1       1    alfa-romero  convertible        88.6   168.8        dohc
2       2    alfa-romero    hatchback        94.5   171.2        ohcv
3       3           audi        sedan        99.8   176.6         ohc
4       4           audi        sedan        99.4   176.6         ohc
5       5           audi        sedan        99.8   177.3         ohc
6       6           audi        wagon       105.8   192.7         ohc
7       9            bmw        sedan       101.2   176.8         ohc
8      10            bmw        sedan       101.2   176.8         ohc
9      11            bmw        sedan       101.2   176.8         ohc
10     13            bmw        sedan       103.5   189.0         ohc
11     14            bmw        sedan       103.5   193.8         ohc
12     15            bmw        sedan       110.0   197.0         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
14     17      chevrolet    hatchback        94.5   155.9         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
17     20          dodge    hatchback        93.7   157.3         ohc
18     27          honda        wagon        96.5   157.1         ohc
19     28          honda        sedan        96.5   175.4         ohc
20     29          honda        sedan        96.5   169.1         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
24     33         jaguar        sedan       113.0   199.6        dohc
25     34         jaguar        sedan       113.0   199.6        dohc
26     35         jaguar        sedan       102.0   191.7        ohcv
27     36          mazda    hatchback        93.1   159.1         ohc
28     37          mazda    hatchback        93.1   159.1         ohc
29     38          mazda    hatchback        93.1   159.1         ohc
30     39          mazda    hatchback        95.3   169.0       rotor
31     43          mazda        sedan       104.9   175.0         ohc
32     44  mercedes-benz        sedan       110.0   190.9         ohc
33     45  mercedes-benz        wagon       110.0   190.9         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
36     49     mitsubishi    hatchback        93.7   157.3         ohc
37     50     mitsubishi    hatchback        93.7   157.3         ohc
38     51     mitsubishi        sedan        96.3   172.4         ohc
39     52     mitsubishi        sedan        96.3   172.4         ohc
40     53         nissan        sedan        94.5   165.3         ohc
41     54         nissan        sedan        94.5   165.3         ohc
42     55         nissan        sedan        94.5   165.3         ohc
43     56         nissan        wagon        94.5   170.2         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
45     61        porsche      hardtop        89.5   168.9        ohcf
46     62        porsche  convertible        89.5   168.9        ohcf
48     66         toyota    hatchback        95.7   158.7         ohc
49     67         toyota    hatchback        95.7   158.7         ohc
50     68         toyota    hatchback        95.7   158.7         ohc
51     69         toyota        wagon        95.7   169.7         ohc
52     70         toyota        wagon        95.7   169.7         ohc
53     71         toyota        wagon        95.7   169.7         ohc
54     79         toyota        wagon       104.5   187.8        dohc
55     80     volkswagen        sedan        97.3   171.7         ohc
56     81     volkswagen        sedan        97.3   171.7         ohc
57     82     volkswagen        sedan        97.3   171.7         ohc
58     86     volkswagen        sedan        97.3   171.7         ohc
59     87          volvo        sedan       104.3   188.8         ohc
60     88          volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
13            three          48               47   5151.0
14             four          70               38   6295.0
15             four          70               38   6575.0
16             four          68               31   6377.0
17             four          68               31   6229.0
18             four          76               30   7295.0
19             four         101               24  12945.0
20             four         100               25  10345.0
21             four          78               24   6785.0
24              six         176               15  32250.0
25              six         176               15  35550.0
26           twelve         262               13  36000.0
27             four          68               30   5195.0
28             four          68               31   6095.0
29             four          68               31   6795.0
30              two         101               17  11845.0
31             four          72               31  18344.0
32             five         123               22  25552.0
33             five         123               22  28248.0
34            eight         184               14  40960.0
35            eight         184               14  45400.0
36             four          68               37   5389.0
37             four          68               31   6189.0
38             four          88               25   6989.0
39             four          88               25   8189.0
40             four          55               45   7099.0
41             four          69               31   6649.0
42             four          69               31   6849.0
43             four          69               31   7349.0
44              six         152               19  13499.0
45              six         207               17  34028.0
46              six         207               17  37028.0
48             four          62               35   5348.0
49             four          62               31   6338.0
50             four          62               31   6488.0
51             four          62               31   6918.0
52             four          62               27   7898.0
53             four          62               27   8778.0
54              six         156               19  15750.0
55             four          52               37   7775.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### Calculate the mean of each numeric column.

In [16]:

mean_values = df.mean(numeric_only=True)

print(mean_values)

index                 40.885246
wheel-base            98.481967
length               173.098361
horsepower           107.852459
average-mileage       25.803279
price              15387.000000
dtype: float64

### Select the rows where the column "company" is equal to 'honda'.

In [22]:
honda_rows = df[df["company"] == "honda"]

print(honda_rows)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [19]:
sorted_df = df.sort_values(by='price', ascending=False)

print(sorted_df)

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
..    ...            ...          ...         ...     ...         ...
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
22     31          isuzu        sedan        94.5   155.9         ohc
23     32          isuzu        sedan        94.5   155.9         ohc
47     63        porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
..              ...         ...              ...      ...
27             four          68               30   5195.0
13            three          48               47   5151.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [21]:
selected_rows = df[df['company'].isin(['audi', 'bmw', 'porsche'])]

print(selected_rows)

    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf
47     63  porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0
47            eight         288               17      NaN

### Find the number of cars (rows) for each company.

In [23]:
car_count_per_company = df['company'].value_counts()

print(car_count_per_company)

company
toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
chevrolet        3
jaguar           3
isuzu            3
honda            3
porsche          3
alfa-romero      3
dodge            2
volvo            2
Name: count, dtype: int64

### Find the maximum price for each company.

In [25]:
max_price_per_company = df.groupby('company')['price'].max()

print(max_price_per_company)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64